<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='sidebar.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Accueil</h1>
      <nav>
        <a href="/">Accueil</a>
        <a href="/getAll">Lister les Images</a>
        <a href="/rechercher">Rechercher des Images</a>
        <a href="/uploadimages">Ajouter des Images</a>
      </nav>
    </div>
  </body>
</html>
