<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-
          0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>


    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5">
                {% block passion_froid %}
                {% endblock %}
                
            </div>
        </div>
    </div>



    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>