<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css')}}" />
  </head>
  <body>
    <div id="app">
      <h1>Liste des images</h1>
      <table class="styled-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>tags</th>
            <th>URL</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(image, index) in images">
            <td>~image.id~</td>
            <td v-if="editing[index] == false" @click="edit(index)">
              ~image.name~
            </td>
            <td v-else>
              <div class="flex-container">
                <input type="text" v-model="image.name" /><button
                  @click="saveName(image, index)"
                  class="save"
                ></button>
              </div>
            </td>
            <td>~image.tags~</td>
            <td>~image.url~</td>
            <td>
              <button
                class="delete"
                @click="deleteImage(image, index)"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <!-- <script>
    let data_images = "{{images|tojson}}";
    console.log(data_images);
  </script> -->
  <script>
    let data_images = '{{images|tojson}}';
    let app = new Vue({
      el: "#app",
      delimiters: ["~", "~"],
      data: {
        message: "test",
        images: [],
        editing: [],
      },
      mounted() {
        console.log("mounted");
        this.images = JSON.parse(data_images).data;
        this.images.forEach((image) => {
             this.editing.push(false);});

        console.log(this.images);
        // fetch("/getAll") // c'est ça get oki Images
        //   .then((res) => res.json())
        //   .then((images) => {
        //     //this.images = images.data;
        //     console.log(images);
            
        //     //});
        //   });
      },
      methods: {
        edit(index) {
          this.$set(this.editing, index, true);
        },
        saveName(image, index) {
          console.log("Saving : ", image.id, "new name : ", image.name);
          const requestOptions = {
            method: "PUT",
            headers: {
                  'content-type': 'application/json',
                  'Accept': 'application/json'
                },
            body: JSON.stringify({ id: image.id, new_name: image.name }),
          };
          fetch("/updateFile",requestOptions)
          .then(resp => resp.json())
          .then(resp => {
            console.log("renaming :", image.id)
          })
          this.$set(this.editing, index, false);
        },
        deleteImage(image, index) {
          
          fetch("/deleteFile?id="+image.id.toString(), {
            method:'DELETE'
          })
          .then(resp => resp.json())
          .then(resp => {
            console.log("deleting :", image.id);
            this.$delete(this.images, index);
          })
          
           // delete via api = retiré de this.images(en supposant que tu refresh la liste après suppression)
          // pour faire genre dans le front (quand ça sera fait dans l'api pas besoin) doudou j'ai oublié de rajouter une colonne pour lister les tags et évidemment c'est le plus compliqué car c'est le seul ou c'est une liste faut concaténer les labels des tags
          
          // si suppression OK ( l'api doit te répondre avec success : true ou false.)
          // alors this.images = getImages (le truc dans mounted())
          // sinon message d'erreur
          // c'est ok ?
        },
      },
    });
  </script>
</html>
